<h1>Participants</h1>
<h2>Assignment: <%= @assignment.name %></h2>

<%= render :partial => "list_review_mappings", :locals => { :assignment => @assignment, :items => @items } %>

<hr/><br />
<div style="padding: 15px">
 <%= render :partial => '/shared_scripts/back' %>
</div>
